
* {	background: black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	    overscroll-behavior: none;
}


main {

    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
		height: 100dvh; 
	 overflow: hidden; /* Prevent main from scrolling */
}

.slider {
    position: relative;
    top: 0;
    left: 0;
    width: 200vw;
    height: 100%;
}

.slider-inner {
    position: relative;
    top: 15%;
    height: 70%;
    width: 200vw;
    display: flex;
    justify-content: space-around;
}

.item {
    position: relative;
    width: 64vw;
    height: 100%;
    overflow: hidden;
	display: flex;               /* Enable Flexbox */
    justify-content: center;     /* Center horizontally */
}

.img {
    position: absolute;
    width: 95vw;
    height: 100%;
    background-size: cover;
    background-position: center;
    filter: grayscale(0%);
}
 